{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to My Page!</h1>

  </div>
  <div class="row">

      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{ username }}"/>

          <label for="text_field">Text:</label>
          <input name="content" type="text" id="text_field" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      <!-- display tweets here -->
      <div id="tweets">
      {% for tweet in tweets | reverse %}
        <div class="tweetbox">
          <a href="/tweets/{{ tweet.id }}">
            <img src="{{ tweet.pictureurl }}">
            <div class="content">
                <p>{{tweet.name}}</p>
                <p>{{tweet.content}}</p>
              </a>
            </div>
        </div>
      {% endfor %}
      </div>
  </div>

{% endblock %}
